html {
    box-sizing: border-box;
}


body {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #fff;
    background: linear-gradient(#FFFFFF, 0%, #1C1B21) no-repeat center;
    background-size: 100%;
}


.wrapper {
    max-width: clamp(19.688rem, 7.627rem + 51.46vw, 69.375rem);
    margin: 0 auto;
}

/* HEADER STYLES START */


.header-ava {
    width: clamp(1.88rem, 1.365rem + 2.2vw, 4rem);
    height: clamp(1.88rem, 1.365rem + 2.2vw, 4rem);
    opacity: 0.5;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    height: 6.25rem;
    background-color:rgba(28, 27, 33, 0.3);
    transition: background-color 0.3s;
}


.nav-button {
    display: none;
    background: none;
    border: none;

}


.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 1.875rem;
}


.header-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1.1875rem;
}


.header-item {
    margin-right: 3.375rem;
}


.header-item:last-child {
    margin-right: 0;
}


.header-link {
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}


.header-link:hover, .header-link:focus, .header-link:active {
    color: #8A0E0F;
    text-decoration: none;
    opacity: 0.75;
}


/* HEADER STYLES END */

/* INTRO STYLES START */

.intro {
    height: 100vh;
    background: url(./data/back_photo.png) no-repeat center;
    background-size: cover;
    padding-top: 25.75rem;
}


.intro-title {
    max-width: 9.875rem;
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: 0%;
    text-align: left;
}


.intro-subtitle {
    max-width: 33.125rem;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 3.375rem;
    line-height: 3.375rem;
}


/* PROMO-PHOTOS STYLES START */
.promo-photos-wrap {
    max-width: clamp(19.688rem, 7.627rem + 51.46vw, 69.375rem);
    margin: 0 auto;
    position: relative;
}


.promo-photos {
    gap: 1.875rem;
    display: flex;
    text-align: center;
}


.promo-photo-container {
    width: 21.875rem;
    height: 18.75rem;
    position: relative;
    background: url('./data/274px-Victor_Tsoi_1986_cropped.jpg') no-repeat center;
    background-size: cover;
    border-bottom-right-radius: 16pt;
    border-top-left-radius: 16pt;
    overflow: hidden;
    transform: translateY(-50%);
}


.container-cover {
    width: 21.875rem;
    height: 3.75rem;
    padding: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(138, 14, 15, 0.7);
    border-top-left-radius: 16pt;
}


.promo-title {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0%;
    text-align: left;
}


.left-arrow {
    text-align: left;
    margin-top: 7.5rem;
}


.right-arrow {
    text-align: right;
    margin-top: 7.5rem;
}


/* PROMO-PHOTOS STYLES END */


/* DESCRIPTION STYLES START */


.wrapper-full {
    max-width: clamp(19.688rem, 7.627rem + 51.46vw, 69.375rem);
    margin: 0 auto;
    padding-top: 8.0625rem;
}


.title-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


.description-photo {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1.875rem;
    margin-top: 1.4375rem;
    width: 4rem;
    height: 1.9375rem;
}


.description-title {
    display: flex;
    flex-wrap: wrap;
    font-family: Poppins;
    font-size: clamp(1.13rem, 0.676rem + 1.94vw, 3rem);
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: 0%;
}


.description-bio-text {
    padding-top: 3.75rem;
    width: 33.75rem;
    height: 7.5rem;
    opacity: 0.7;
    font-family: Poppins;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0%;
    
}


.desc-photos {
    display: flex;
    width: clamp(8.313rem, 3.58rem + 20.19vw, 27.812rem)5rem;
    height: 29.125rem;
    position: relative;
    right: 0;
    top: 0;
    margin-top: -12.5rem;
}


.front-desc-photo img {
    width: clamp(6.5rem, 2.768rem + 15.92vw, 21.875rem);
    height: clamp(8.13rem, 4.035rem + 17.47vw, 25rem);
    border-bottom-right-radius: 16pt;
    border-top-left-radius: 16pt;
}


.front-desc-photo {
    display: inline-block;
    position: absolute;
    padding-left: 41.5625rem;
    z-index: 2;
}


.back-desc-photo img {
    width: clamp(6.5rem, 2.768rem + 15.92vw, 21.875rem);
    height: clamp(8.13rem, 4.035rem + 17.47vw, 25rem);
    border-bottom-right-radius: 16pt;
    border-top-left-radius: 16pt;
}


.back-desc-photo {
    display: inline-block;
    position: absolute;
    width: 21.875rem;
    height: 25rem;
    margin-left: clamp(13.188rem, 4.859rem + 35.53vw, 47.5rem);
    padding-top: 3.5625rem;
    border-bottom-right-radius: 16pt;
    border-top-left-radius: 16pt;
    opacity: 0.3;
    z-index: 1;
}


.desc-information {
    padding-bottom: 0.3125rem;
}


.info-items-first-line {
    display: flex;
}


.info-item-2 {
    position: absolute;
    margin-left: 18.75rem;
}


.desc-information img {
    margin-right: 1.25rem;
}


.info-items-second-line {
    display: flex;
    padding-top: 1.875rem;
}


.info-item {
    display: flex;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.6875rem;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}


/* DESCRIPTION STYLES END */


/* GROUP STRUCTURE STYLES START  */


.group-title {
    display: flex;
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: 0%;
    text-align: left;
}


.group-members {
    padding-top: 5.0625rem;
    display: flex;
}


.group-member {
    margin-right: 5.6875rem;
    border-bottom-left-radius: 2.5rem;
    /* border-radius: 40px; */
    position: relative;
    cursor: pointer;
}


.group-member:last-child {
    margin-right: 0;
}


.group-member .mask {
    /* border-radius: 40px; */
    width: 12.75rem;
    height: 15.625rem;
    border: none;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgb(28, 27, 33, 0.8);
}


.group-member img {
    display: block;
    position: relative;
    overflow: hidden;
}


.mask h2 {
    color: rgb(237, 224, 224);
    text-align: center;
    padding-top: 1.25rem;
    font-size: 0.875rem;
}


.mask p {
    font-style: italic;
    color: rgb(237, 224, 224);
    line-height: 0.75rem;
    font-size: 0.75rem;
    text-align: center;
    padding: 1.25rem;
}


.group-member-1 img {
    transition: all 0.2s linear;
    width: 12.75rem;
    height: 15.625rem;
}


.group-member-1 .mask {
    opacity: 0;
    background-color: rgb(28, 27, 33, 0.8);
    transition: all 0.4s ease-in-out;
}


.group-member-1 h2 {
    transform: translateY(-6.25rem);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}


.group-member-1 p {
    transform: translateY(-6.25rem);
    opacity: 0;
    transition: all 0.2s linear;
}


/* .group-member-1:hover img {
    transform: scale(1.1);
} */


.group-member-1:hover .mask {
    opacity: 1;
}


.group-member-1:hover h2, .group-member-1:hover p {
    opacity: 1;
    transform: translateY(0);
}


.group-member-1:hover p {
    transition-delay: 0.1s;
}



.group-member-2 img {
    transition: all 0.2s linear;
    width: 12.75rem;
    height: 15.625rem;
}


.group-member-2 .mask {
    opacity: 0;
    background-color: rgb(28, 27, 33, 0.8);
    transition: all 0.4s ease-in-out;
}


.group-member-2 h2 {
    transform: translateY(-6.25rem);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}


.group-member-2 p {
    transform: translateY(-6.25rem);
    opacity: 0;
    transition: all 0.2s linear;
}


/* .group-member-1:hover img {
    transform: scale(1.1);
} */


.group-member-2:hover .mask {
    opacity: 1;
}


.group-member-2:hover h2, .group-member-2:hover p {
    opacity: 1;
    transform: translateY(0);
}


.group-member-2:hover p {
    transition-delay: 0.1s;
}




.group-member-3 img {
    transition: all 0.2s linear;
    width: 12.75rem;
    height: 15.625rem;
}


.group-member-3 .mask {
    opacity: 0;
    background-color: rgb(28, 27, 33, 0.8);
    transition: all 0.4s ease-in-out;
}


.group-member-3 h2 {
    transform: translateY(-6.25rem);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}


.group-member-3 p {
    transform: translateY(-6.25rem);
    opacity: 0;
    transition: all 0.2s linear;
}


/* .group-member-1:hover img {
    transform: scale(1.1);
} */


.group-member-3:hover .mask {
    opacity: 1;
}


.group-member-3:hover h2, .group-member-3:hover p {
    opacity: 1;
    transform: translateY(0);
}


.group-member-3:hover p {
    transition-delay: 0.1s;
}




.group-member-4 img {
    transition: all 0.2s linear;
    width: 12.75rem;
    height: 15.625rem;
}


.group-member-4 .mask {
    opacity: 0;
    background-color: rgb(28, 27, 33, 0.8);
    transition: all 0.4s ease-in-out;
}


.group-member-4 h2 {
    transform: translateY(-6.25rem);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}


.group-member-4 p {
    transform: translateY(-6.25rem);
    opacity: 0;
    transition: all 0.2s linear;
}


/* .group-member-4:hover img {
    transform: scale(1.1);
} */


.group-member-4:hover .mask {
    opacity: 1;
}


.group-member-4:hover h2, .group-member-4:hover p {
    opacity: 1;
    transform: translateY(0);
}


.group-member-4:hover p {
    transition-delay: 0.1s;
}



.f-l-text {
    padding-top: 1rem;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
}


.s-l-text {
    padding-top: 0.6875rem;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}


/* GROUP STRUCTURE STYLES END */




/* REPERTUAR STYLES START */


.wrapper-repertuar {
    max-width: clamp(19.688rem, 7.627rem + 51.46vw, 69.375rem);
    margin: 0 auto;
    padding-top: 4rem;
}


.repertuar-title {
    padding-left: 35.625rem;
    display: flex;
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: 0%;
    text-align: left;
}


.music-list {
    display: flex;
    font-family: Poppins;
}


.circle {
    display: inline-block;
    margin-right: 2.6875rem;
}


.square {
    display: table-cell;
    overflow-y: scroll;
    margin-top: 5rem;
    width: 31.3125rem;
    height: 19.5625rem;
    border-radius: 1.875rem 1.875rem 1.875rem 0rem;
    background: rgb(47, 47, 47) no-repeat center;
    background-size: 100vh;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.6875rem;
    letter-spacing: 0%;
    text-align: left;
}


.music-items {
    padding-left: 1.0625rem;
    padding-top: 1.4375rem;
}


.red-text-songs {
    padding: 0 1rem 0 1rem;
    color: rgb(165, 17, 17);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.6875rem;
    letter-spacing: 0%;
    text-align: left;
}


/* REPERTUAR STYLES END */



/* PROMO-VIDEO STYLES START */


.wrapper-promo {
    max-width: clamp(19.688rem, 7.627rem + 51.46vw, 69.375rem);
    margin: 0 auto;
    padding-top: 10.375rem;
}


.promo-video-title {
    display: flex;
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: 0%;
    text-align: left;
}


.promo-video {
    position: relative;
    outline: none;
    border: none;
    padding-top: 8.125rem;
    width: 69.375rem;
    height: 31.25rem;
    /* background: url('./data/play-icon.png') no-repeat center;
    background-size: 20%; */
    border-radius: 1.875rem 0rem 1.875rem 0rem;
    overflow: hidden;
}


/* .promo-video:hover {
    cursor: pointer;
    background-size: 22%;
} */


.promo-video iframe {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.875rem 0rem 1.875rem 0rem;
    overflow: hidden;
}


/* PROMO-VIDEO STYLES END */



/* COOPERATION STYLES START */


.wrapper-stages {
    max-width: clamp(19.688rem, 7.627rem + 51.46vw, 69.375rem);
    margin: 0 auto;
    padding-top: 8.125rem;
}


.stages-title {
    display: flex;
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: 0%;
    text-align: left;
}


.advantages {
    padding-top: 8.125rem;
}


.advantage-title {
    width: 19rem;
    height: 1.375rem;
    font-family: Poppins;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.5;
}


.advantage-text {
    width: 14.25rem;
    height: 1.8125rem;
    padding-top: 0.625rem;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
}


.advantages-f-l {
    display: flex;
    margin-left: 5.6875rem;
    padding-bottom: 5.5625rem;
}


.advantage {
    margin-right: 5.3125rem;
}


.advantage:last-child {
    margin-right: 0;
}


.advantages-s-l {
    display: flex;
}


/* COOPERATION STYLES END */



/* SERVICES STYLES START */

#anchor-between {
    padding-bottom: 6.25rem;
}

.wrapper-services {
    max-width: clamp(19.688rem, 7.627rem + 51.46vw, 69.375rem);
    margin: 0 auto;
    padding-top: 8.125rem;
    padding-bottom: 6.25rem;
}


.services-title {
    display: flex;
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: 0%;
    text-align: left;
}


.services-squares {
    padding-top: 8.125rem;
    display: flex;
}


.spb {
    width: 24.1875rem;
    height: 14.625rem;
    margin-right: 18.875rem;
    border-radius: 1.875rem 0rem 1.875rem 0rem;
    background: rgb(47, 47, 47);
}


.spb:last-child {
    margin-right: 0;
}


.out-spb {
    width: 24.1875rem;
    height: 14.625rem;
    border-radius: 0rem 1.875rem 0rem 1.875rem;
    background: rgb(47, 47, 47);
}


.first-square-line {
    padding-left: 3.8125rem;
    padding-top: 1.8125rem;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;
    letter-spacing: 0%;
    text-align: left;
}


.second-square-line {
    padding-left: 5.875rem;
    padding-top: 2.1875rem;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.25rem;
    letter-spacing: 0%;
    text-align: left;
}


.out-spb .first-square-line {
    padding-left: 3.375rem;
    padding-top: 1.8125rem;
}


.out-spb .second-square-line {
    padding-left: 3.625rem;
    padding-top: 1.5625rem;
}


/* SERVICES STYLES END */



/* WANT-WORK STYLES START */


.wrapper-call {
    opacity: 1;
    max-width: clamp(19.688rem, 7.627rem + 51.46vw, 69.375rem);
    margin: 0 auto;
   
}


.want-work-title {
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: 0%;
    text-align: left;
}


.want-work-subtitle .first-line-sub {
    width: 43.3125rem;
    height: 2.25rem;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    padding-top: 0.5px;
    display: flex;
    flex-direction: row;
}


.want-work-subtitle .second-line-sub {
    width: 23.5625rem;
    height: 2.25rem;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2.25rem;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    padding-top: 4.5px;
    display: flex;
    flex-direction: row;
}


.want-work-subtitle .second-line-sub strong {
    font-size: 1.5rem;
    font-weight: 900;
}


.order-call button {
    width: 18.875rem;
    height: 5.125rem;
    padding: 1.4375rem 70.5px 1.4375rem 70.5px;
    outline: none;
    border: none;
    margin-top: 1.8125rem;
    border-radius: 0.625rem;
    background-color: rgb(165, 17, 17);
    cursor: pointer;

    color: #fff;
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
    letter-spacing: 0%;
    /* box-shadow: 0rem 0.3125rem 0.625rem #000; */
}


.order-button:hover, .order-button button:focus, .order-button:active {
    background-color: #e21818;
    border-color: #971e1e;
    text-decoration: none;
    transition: 0.3s;
    box-shadow: 0 0 0 0.2rem ;
}



/* WANT-WORK STYLES END */



/* CALL-YOURSELF STYLES START */


.wrapper-call-yourself {
    max-width: clamp(19.688rem, 7.627rem + 51.46vw, 69.375rem);
    margin: 0 auto;
    padding-top: 8.125rem;
}


.call-yourself-title {
    padding-bottom: 4.5rem;
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: 0%;
    text-align: left;
}


.call-yourself-back-photo {
    width: 69.375rem;
    height: 19.5625rem;
    padding-top: 5.5rem;
    background: url('./data/back-call-photo.png') no-repeat center;
    background-size: 100%;
}


.call-yourself-text {
    width: 32.5rem;
    height: 8.5rem;
    padding: 0.3125rem 5rem;
    font-family: Poppins;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: 0%;
    text-align: left;
}


.call-yourself-line {
    padding-top: 24.5px;
    padding-left: 5rem;
}


.call-yourself-phone {
    padding-top: 25.5px;
    padding-left: 5rem;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.6875rem;
    letter-spacing: 0%;
    cursor: pointer;
}


.call-yourself-phone a {
    text-decoration: none;
    color: rgb(232, 45, 45);
}


.call-yourself-photo {
    width: 23.125rem;
    height: 30.1875rem;
    margin-top: -23.0625rem;
    /* transform: translateY(-76.2%); */
    float: right;
    margin-right: 5rem;
    border-radius: 1.875rem 0rem 1.875rem 0rem;
    background: url('./data/274px-Victor_Tsoi_1986_cropped.jpg') no-repeat center;
    background-size: 100%;
}


/* CALL-YOURSELF STYLES END */




/* REVIEWS STYLES START */


.wrapper-reviews {
    max-width: clamp(19.688rem, 7.627rem + 51.46vw, 69.375rem);
    margin: 0 auto;
    padding-top: 13.3125rem;
}


.reviews-title {
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: 0%;
    text-align: left;
}


.reviews-photos {
    padding-top: 8.125rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.125rem 1.8125rem;
}


.reviews img {
    max-width: 100%;
    max-height: auto;
    width: 21.875rem;
    height: 19.5625rem;

}


/* REVIEWS STYLES END */




/* ANY-QUESTIONS STYLES START */


.wrapper-questions {
    max-width: clamp(19.688rem, 7.627rem + 51.46vw, 69.375rem);
    margin: 0 auto;
    padding-top: 8.125rem;
}


.questions-title {
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: 0%;
    text-align: left;
}


.questions-form {
    padding-top: 5.1875rem;
    margin: 0 10.3125rem 0 10.3125rem;
    align-items: center;
    justify-content: center;
}


.form-title {
    width: 17.875rem;
    height: 2.9375rem;
    margin: 0 auto;
    font-family: Poppins;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}


.contact-container {
    width: 48.75rem;
    height: 5.3125rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-phone {
    width: 18.75rem;
    height: 5rem;
    border-radius: 0.5rem;
    margin-right: 2.5rem;
    outline: none;
    border: none;
    padding-left: 1.875rem;
    background-image: url('./data/phone.png') no-repeat center;
    background-size: 0.875rem;
}


.contact-button {
    width: 20.625rem;
    height: 5.3125rem;
    border-radius: 0.5rem;
    border-width: 0rem;
    background-color: rgb(165, 17, 17);
}


.contact-button:hover, .contact-button:focus, .contact-button:active {
    color: #fff;
    background-color: #e21818;
    border: 0.0625rem solid #fff;
}


.agreement-checkbox {
    padding-right: 0.4375rem;
}


.agreement-checkbox-text {
    display: flex;
    padding-left: 4.375rem;
}


.agreement-text {
    padding-left: 0.3125rem;
    text-decoration: none;
    color: rgb(126, 134, 142);
}


.agreement-text a {
    color: rgb(126, 134, 142);
}


/* ANY-QUESTIONS STYLES END */




/* INFO STYLES START */


.info-container {
    margin: 0 auto;
    padding-top: 13.5rem;
    max-width: 69.1875rem;
}


.managers {
    display: flex;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.6875rem;
    letter-spacing: 0%;
    text-transform: uppercase;
}


.first-manager {
    display: flex;
    margin-right: 13.625rem;
}


.second-manager {
    display: flex;
}


.manager {
    width: 12.5rem;
    height: 6.5rem;
    margin-right: 1.875rem;
    text-align: right;
}


.contact {
    width: 14.25rem;
    height: 3.375rem;
    text-align: left;
}


.contact a {
    color: #fff;
}


.contact a:hover, .contact a:active, .contact a:focus {
    transition: 0.3s;
    color: #e21818;
}


.social-medias {
    padding-top: -2rem;
    display: flex;
    gap: 1.875rem;
    padding-left: 24.25rem;
    padding-right: 24.25rem;
}


.label {
    width: 6rem;
    height: 1.1875rem;
    padding-top: 2.4375rem;
    font-family: Poppins;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0%;
    text-transform: uppercase;
    opacity: 0.5;
    padding-left: 31.6875rem;
    padding-right: 31.6875rem;
    padding-bottom: 1.25rem;
}


/* INFO STYLES END */

/* FORM REQUEST */

#popup {
    display: none;
    z-index: 1000;
}

.no-scroll {
    overflow: hidden;
}
.scroll {
    overflow: auto;
}

.toggle-popup {
    display: block;
}

.requestform-div {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
    padding-top: 1.875rem;
    width: 28.625rem;
    height: 31.25rem;
    border-radius: 1.875rem;
    box-shadow: 0rem 0.25rem 1.0625rem 0rem rgba(0, 0, 0, 0.17);
    background: rgb(255, 255, 255);
}


.requestform-content {
    display: grid;
    align-items: center;
    justify-content: center;
}

#requestform-submit {
    background-color: rgb(165, 17, 17);
    color: white;
    border: 0rem;
}


.requestname::before {
    content: "Имя";
    color: gray;
    pointer-events: none;
}

.requestform-element {
    display: inline-block;
    width: 18.75rem;
    height: 3.75rem;
    border: 0rem;
    border-radius: 0.625rem;
    background: rgb(249, 221, 221);
    color: black;
}

.requestform-content-name {
    padding-top: 0.375rem;
    padding-left: 0.625rem;
    color: rgb(126, 134, 142);
}

.requestform-content-field {
    padding-top: 0.3125rem;
    padding-left: 0.625rem;
}

.requestform-content-field-input {
    width: 15.625rem;
    background-color: rgb(249, 221, 221);
    color: black;
    border: rgb(249, 221, 221);
}
