html {
    box-sizing: border-box;
}


body {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    background: linear-gradient(#FFFFFF, 0%, #1C1B21) no-repeat center;
    background-size: cover;
}


.wrapper {
    max-width: 1110px;
    margin: 0 auto;
}

/* HEADER STYLES START */


.header-ava {
    opacity: 0.5;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}


.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 21px;
}


.header-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 19px;
}


.header-item {
    margin-right: 54px;
}


.header-item:last-child {
    margin-right: 0;
}


.header-link {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}


.header-link:hover, .header-link:focus, .header-link:active {
    color: #8A0E0F;
    opacity: 0.75;
}


/* HEADER STYLES END */

/* INTRO STYLES START */

.intro {
    height: 100vh;
    background: url(./data/back_photo.png) no-repeat center;
    opacity: 0.7;
    background-size: cover;
    padding-top: 412px;
}


.intro-title {
    max-width: 158px;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 10px;
}


.intro-subtitle {
    max-width: 530px;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    line-height: 54px;
}


/* PROMO-PHOTOS STYLES START */
.promo-photos-wrap {
    max-width: 1110px;
    margin: 0 auto;
    position: relative;
}


.promo-photos {
    gap: 30px;
    display: flex;
    text-align: center;
}


.promo-photo-container {
    width: 350px;
    height: 300px;
    position: relative;
    background: url('./data/274px-Victor_Tsoi_1986_cropped.jpg') no-repeat center;
    background-size: cover;
    border-bottom-right-radius: 16pt;
    border-top-left-radius: 16pt;
    overflow: hidden;
    transform: translateY(-50%);
}


.container-cover {
    width: 350px;
    height: 60px;
    padding: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(138, 14, 15, 0.7);
    border-top-left-radius: 16pt;
}


.promo-title {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}


.left-arrow {
    text-align: left;
    margin-top: 120px;
}


.right-arrow {
    text-align: right;
    margin-top: 120px;
}


/* PROMO-PHOTOS STYLES END */


/* DESCRIPTION STYLES START */


.wrapper-full {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 179px;
}


.title-wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


.description-photo {
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px;
    margin-top: 23px;
    width: 64px;
    height: 31px;
}


.description-title {
    display: flex;
    flex-wrap: wrap;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0%;
}


.description-bio-text {
    padding-top: 60px;
    min-width: 540px;
    height: 120px;
    opacity: 0.7;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}


.desc-photos {
    display: flex;
    width: 445px;
    height: 466px;
    position: relative;
    right: 0;
    top: 0;
    margin-top: -200px;
}


.front-desc-photo img {
    width: 350px;
    height: 400px;
    border-bottom-right-radius: 16pt;
    border-top-left-radius: 16pt;
}


.front-desc-photo {
    display: inline-block;
    position: absolute;
    padding-left: 665px;
    z-index: 2;
}


.back-desc-photo img {
    width: 350px;
    height: 400px;
    border-bottom-right-radius: 16pt;
    border-top-left-radius: 16pt;
}


.back-desc-photo {
    display: inline-block;
    position: absolute;
    width: 350px;
    height: 400px;
    margin-left: 760px;
    padding-top: 57px;
    border-bottom-right-radius: 16pt;
    border-top-left-radius: 16pt;
    opacity: 0.3;
    z-index: 1;
}


.desc-information {
    padding-bottom: 5px;
}


.info-items-first-line {
    display: flex;
}


.info-item-2 {
    position: absolute;
    margin-left: 300px;
}


.desc-information img {
    margin-right: 20px;
}


.info-items-second-line {
    display: flex;
    padding-top: 30px;
}


.info-item {
    display: flex;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}


/* DESCRIPTION STYLES END */


/* GROUP STRUCTURE STYLES START  */


.group-title {
    display: flex;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: left;
}


.group-members {
    padding-top: 81px;
    display: flex;
}


.group-member {
    margin-right: 91px;
}


.group-member:last-child {
    margin-right: 0;
}


.f-l-text {
    padding-top: 16px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
}


.s-l-text {
    padding-top: 11px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.6;
}


/* GROUP STRUCTURE STYLES END */




/* REPERTUAR STYLES START */


.wrapper-repertuar {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 64px;
}


.repertuar-title {
    float: right;
    display: flex;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: left;
}


/* REPERTUAR STYLES END */