@media (min-width: 851px) and (max-width:1160px) {
    .all {
        display: none;
    }
    
    .header-ava img {
        width: 50px;
        height: 50px;
        margin-top: -10px;
    }

    .header {
        height: 83.0px;
    }

    .intro {
        height: 0px;
        width: 100%;
        background: url('./data/back_photo.png');
        background-repeat: no-repeat;
        background-size:cover;
    }

    .nav-button {
        top: 38px;
    }

    .nav-button img {
        width: 31px;
        height: 22px;
    }

    .wrapper {
        max-width: 751px;
        padding-top: 0;
    }

    .intro-title {
        margin-top: -270px;
        width: 212px;
        height: 51px;
        font-size: 42px;
        line-height: 51px
    }


    .intro-subtitle {
        padding-top: 12px;
        font-size: 42px;
        line-height: 51px;
        width: 354px;
        height: 102px;
    }



    .wrapper-full {
        max-width: 751px;
        padding-top: 101px;
    }

    .description-photo {
        width: 40px;
        height: 25px;
        margin-right: 22px;
        margin-top: 0.0px;
    }

    .description-photo img {
        width: 51px;
        height: 31px;
    }

    .description-title {
        width: 372px;
        height: 20px;
        line-height: 27px;
        font-size: 28px;
        margin-top: 7px;
    }

    .description-bio-text {
        padding-top: 60.0px;
        width: 420.0px;
        height: 120.0px;
        opacity: 0.7;
        font-family: Poppins;
        font-size: 18.0px;
        font-weight: 400;
        line-height: 24.0px;
        letter-spacing: 0%;
        
    }

    .desc-photos {
        display: flex;
        width: 282px;
        height: 296px;
        right: 0;
        top: 0;
        padding-left: 508px;
        margin-top: -115px;
    }
    
    
    .front-desc-photo img {
        width: 221px;
        height: 253px;
        border-radius: 30px 0px 30px 0px;
    }
    
    .front-desc-photo {
        display: flex;
        position: absolute;
        padding-left: 0.0px;
    }
    
    
    .back-desc-photo img {
        width: 204px;
        height: 233px;
        border-radius: 30px 0px 30px 0px;
    }
    
    
    .back-desc-photo {
        display: flex;
        width: 124px;
        height: 150px;
        margin-left: 56px;
        padding-top: 43px;
        border-radius: 30px 0px 30px 0px;
    }

    .desc-information {
        padding-top: 50px;
        padding-bottom: 5.0px;
    }
    
    
    .info-items-first-line {
        display: flex;
    }
    
    
    .info-item-2 {
        position: absolute;
        margin-left: 300.0px;
    }
    
    
    .info-photo {
        margin-right: 10.0px;
    }
    
    
    .info-items-second-line {
        display: flex;
        padding-top: 30.0px;
    }
    
    
    .info-item {
        display: flex;
        font-family: Poppins;
        font-size: 16.0px;
        font-weight: 600;
        line-height: 27.0px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
    }




    .group-title {
        padding-top: 90px;
        line-height: 27px;
        font-size: 28px;
        font-weight: 700;
        line-height: 27px;
        padding-bottom: 0px;
    }

    .group-title h2 {
        margin-top: 7px;
    }

    .group-members {
        padding-top: 0px;
        flex-direction: column;
    }
    
    .group-member {
        display: flex;
        padding-top: 0px;
        margin-top: 109px;
        margin-right: 0px;
    }



    .group-text {
        margin-top: -10px;
        text-align: right;
        margin-left: 56px;
    }


    .f-l-text {
        width: 99px;
        height: 33px;
        padding-top: 0px;
        font-size: 32px;
    }
    
    
    .s-l-text {
        padding-top: 6px;
        padding-left: 4px;
        width: 186px;
        height: 25px;
        font-size: 26px;
        text-align: left;
    }

    .group-member-1 img, .group-member-2 img, .group-member-3 img, .group-member-4 img, .group-member img {
        width: 204px;
        height: 250px;
    }

    .group-member .mask {
        padding-top: 0px;
        width: 204px;
        height: 250px;
    }


    .mask h2 {
        color: rgb(237, 224, 224);
        text-align: center;
        padding-top: 20.0px;
        font-size: 24.0px;
    }
    
    
    .mask p {
        font-style: italic;
        color: rgb(237, 224, 224);
        line-height: 20.0px;
        font-size: 16.0px;
        text-align: center;
        padding: 20.0px;
    }



    .wrapper-repertuar {
        max-width: 751px;    
        padding-top: 100.0px;
    }


    .repertuar-title {
        padding-left: 20.0px;
        padding-bottom: 50px;
        width: 112px;
        height: 42px;
        font-size: 28px;
        font-weight: 700;
        line-height: 27px;
        text-align: left;
    }

    .repertuar-title h2 {
        margin-top: 7px;
    }

    .square {
        margin-top: 40px;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
    }




    .wrapper-promo {
        max-width: 751px;
        padding-top: 103.0px;
    }



    .promo-video-title {
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
        padding-bottom: 23px;
    }

    .promo-video {
        padding: 0;
        width: 100%;
        height: 400px;
    }

    .promo-video iframe {
        padding: 0;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        min-width: 751px;
        height: 100%;
        box-sizing: border-box;
    }



    .wrapper-services {
        margin: 0 auto;
        max-width: 751px;
        padding-top: 103px;
    }

    .services-title {
        height: 32px;
        font-size: 28px;
        line-height: 32px;
    }

    .services-squares {
        padding-top: 51px;
    }

    .spb {
        width: 297px;
        height: 180px;
        margin-right: 157px;
        border-radius: 20px 0px 20px 0px;
    }

    .out-spb {
        width: 297px;
        height: 180px;
        border-radius: 0px 20px 0px 20px;
    }

    .first-square-line {
        padding-top: 32px;
        padding-left: 38px;
        font-size: 18px;
        line-height: 15px;
    }

    .second-square-line {
        padding-top: 18px;
        padding-left: 48px;
        font-size: 18px;
        line-height: 15px;
    }

    .out-spb .first-square-line {
        padding-top: 32.0px;
        padding-left: 18.0px;
    }
    
    
    .out-spb .second-square-line {
        padding-top: 16.0px;
        padding-left: 22.0px;
    }




    .wrapper-call {
        max-width: 751px;
        padding-top: 60px;
    }

    .want-work-title {
        height: 32px;
        font-size: 28px;
        line-height: 160%;
    }

    .want-work-subtitle .first-line-sub {
        width: 454px;
        height: 18px;
        padding-top: 24px;
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
    }

    .want-work-subtitle .second-line-sub {
        width: 300px;
        height: 21px;
        padding-top: 5px;
        font-size: 18px;
        font-weight: 300;
        line-height: 18px;
    }

    .want-work-subtitle .second-line-sub strong {
        font-size: 18px;
        font-weight: 900;
    }
    
    .order-call button {
        width: 190.0px;
        height: 62.0px;
        padding: 11px 21px 11px 21px;
        margin-top: 30px;

        font-size: 18px;
        line-height: 18.0px;
    }




    .wrapper-call-yourself {
        max-width: 751px;
        padding-top: 60px;
    }


    .call-yourself-title {
        height: 25px;
        font-size: 28px;
        line-height: 27px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .call-yourself-main {
        margin-top: 58px;
        width: 100%;
        height: 190px;
        z-index: 100;
    }

    .call-yourself-back-photo {
        height: 341px;
        background: url('./data/851-1160/back-851.png') no-repeat center;
        background-size: 100%;
        padding-top: 13px;
    }

    .call-yourself-text {
        width: 370px;
        height: 103px;
        padding-top: 33px;
        padding-left: 37px;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
    }

    .call-yourself-line {
        padding-left: 34.7px;
        margin-top: 20px;
        width: 244.07px;
        height: 2px;
        padding-top: 10px;
    }

    .call-yourself-phone {
        padding-left: 34.7px;
        padding-top: 22px;
        height: 13px;
        font-size: 18px;
        line-height: 18px;
    }

    .call-yourself-photo {
        width: 260px;
        height: 404px;
        background: url('./data/480-600/call-420-photo.png') no-repeat center;
        background-size: cover;
        margin-top: -245px;
        margin-right: 45px;
    }


        /* REVIEWS */


        .wrapper-reviews {
            max-width: 751px;
            padding-top: 280px;
        }
    
        .reviews-title {
            height: 32px;
            font-size: 28px;
            line-height: 32px;
        }
    
        .reviews-photos {
            padding-top: 29px;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 32.0px 37.0px;
        }
    
        .reviews img {
            width: 349px;
            height: 314px;
        }
    
        /* REVIEWS */


        .wrapper-stages {
            max-width: 751px;
            padding-top: 60.0px;
        }
    
        .stages-title {
            font-size: 28px;
            font-weight: 700;
            line-height: 27px;
        }

        .advantages {
            padding-top: 100px;
        }
    

        .wrapper-questions {
            max-width: 751px;
            margin: 0 auto;
            padding-top: 100px;
        }
    
        .questions-title {
            height: 32px;
            font-size: 28px;
            line-height: 160%;
        }

        
        .contact-container {
            justify-content: center;
            width: 400.0px;
            height: 85.0px;
        }
      

        .info-container {
            max-width: 751px;
            padding-top: 114px;
            justify-content: center;
            margin: 0 auto;
        }
        
        
        .managers {
            display: flex;
            flex-direction: column;
            font-size: 18px;
        }
    
        .first-manager {
            margin-right: unset;
            padding-bottom: 3px;
        }
    
        .manager {
            width: 150px;
            height: 40px;
            line-height: 15px;
            font-weight: 600;
            margin-right: 18px;
            text-align: right;
        }
        
        
        .contact {
            width: 160px;
            height: 30px;
            font-weight: 400;
            line-height: 15px;
            text-align: left;
        }
        
    
        .all {
            display: none;
        }
    
    
        .social-medias {
            display: flex;
            justify-content: center;
            padding-top: 61.0px;
            gap: 20.0px;
            max-width: 214px;
        }
    
        .social-medias img {
            width: 45px;
            height: 45px;
        }
    
        .label {
            display: flex;
            justify-content: center;
            max-width: 97px;
            margin: 0 auto;
            font-size: 13px;
            line-height: 20px;
            padding-bottom: 20px;
        }

        .all {
            display: none;
        }
}