@media (min-width: 480px) and (max-width:600px) {
    .header-ava img {
        width: 30px;
        height: 30px;
    }

    .header {
        height: 63.0px;
    }

    .intro {
        height: 0px;
        width: 100%;
        background: url('./data/intro-mobile.png');
        background-repeat: no-repeat;
        background-size:cover;
        background-color: red;
    }

    .nav-button {
        top: 37px;
    }

    .nav-button img {
        width: 24px;
        height: 16px;
    }

    .wrapper {
        max-width: 420px;
        padding-top: 0;
    }

    .intro-title {
        margin-top: -270px;
        width: 212px;
        height: 51px;
        font-size: 34px;
        line-height: 51px
    }


    .intro-subtitle {
        padding-top: 6px;
        font-size: 34px;
        line-height: 51px;
        width: 254px;
        height: 102px;
    }

    .promo-photos-wrap {
        max-width: 420px;
    }

    .promo-photos {
        gap: 27px;
    }

    .promo-photo-container {
        width: 150px;
        height: 100px;
        border-radius: 10px 0px 10px 0px
    }

    .container-cover {
        width: 100%;
        height: 30px;
        padding-top: 2px;
        padding-left: 4px;
        padding-bottom: 3px;
        padding-right: 2px;
        border-radius: 10px 0px 10px 0px;
    }

    .promo-title {
        padding-top: 2px;
        padding-left: 4px;
        padding-bottom: 3px;
        padding-right: 2px;
        width: 120px;
        height: 16px;
        font-size: 8px;
        font-weight: 500;
        line-height: 9px;
    }

    .left-arrow img, .right-arrow img {
        width: 17.28px;
        height: 22px;
        display: block;
    }
    
    .left-arrow {
        width: 17.28px;
        height: 22px;
        margin-top: 39px;
        /* background: url('./data/mobile-arrow.png') no-repeat center;
        background-size: cover; */
        border-radius: 10px 0 10px 0;
    }

    .right-arrow {
        width: 17.28px;
        height: 22px;
        /* background: url('./data/mobile-arrow-right.png') no-repeat center;
        background-size: cover; */
        margin-top: 39px;
        margin-left: 105px;
        border-radius: 0 10px 0 10px;
    }




    .wrapper-full {
        max-width: 420px;
        padding-top: 71px;
    }

    .description-photo {
        width: 40px;
        height: 25px;
        margin-right: 7px;
        margin-top: 0.0px;
    }

    .description-photo img {
        width: 40px;
        height: 25px;
    }

    .description-title {
        width: 272px;
        height: 20px;
        line-height: 27px;
        font-size: 22px;
        margin-top: 4px;
    }

    .description-bio-text {
        width: 100%;
        height: 45px;
        padding-top: 36px;
        font-size: 16px;
        line-height: 24px;
    }

    .desc-photos {
        display: flex;
        width: 133px;
        height: 152px;
        right: 0;
        top: 0;
        padding-left: 271px;
        margin-top: 213.0px;
    }
    
    
    .front-desc-photo img {
        width: 124px;
        height: 150px;
        border-radius: 30px 0px 30px 0px;
    }
    
    .front-desc-photo {
        display: flex;
        position: absolute;
        padding-left: 0.0px;
    }
    
    
    .back-desc-photo img {
        width: 124px;
        height: 150px;
        border-radius: 30px 0px 30px 0px;
    }
    
    
    .back-desc-photo {
        display: flex;
        width: 124px;
        height: 150px;
        margin-left: 29px;
        padding-top: 22.0px;
        border-radius: 30px 0px 30px 0px;
    }

    .desc-information {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        column-gap: 50px;
        margin-top: -90px;
    }
    
    .info-photo {
        width: 16px;
        height: 16px;
        border-radius: 10px 0px 10px 0px;
        margin-right: 5px;
    }

    .info-item {
        font-size: 14px;
        line-height: 20px;
    }

    .info-item h3 {
        padding-top: -2px;
    }

    .info-item-2 {
        margin-left: 0px;
        margin-top: 25px;
    }



    .info-items-first-line {
        display: flex;
        flex-direction: column;
    }

    .info-items-second-line {
        display: flex;
        flex-direction: column;
    }




    .group-title {
        padding-top: 20px;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        padding-bottom: 0px;
    }

    .group-members {
        padding-top: 0px;
        flex-direction: column;
    }
    
    .group-member {
        display: flex;
        padding-top: 0px;
        margin-top: 109px;
        margin-right: 0px;
    }



    .group-text {
        margin-top: -6px;
        text-align: right;
        margin-left: 28px;
    }


    .f-l-text {
        width: 99px;
        height: 33px;
        padding-top: 0px;
    }
    
    
    .s-l-text {
        padding-top: 0px;
        width: 106px;
        height: 25px;
    }

    .group-member-1 img, .group-member-2 img, .group-member-3 img, .group-member-4 img, .group-member img {
        width: 188px;
        height: 226px;
    }

    .group-member .mask {
        padding-top: 0px;
        width: 188px;
        height: 226px;
    }


    .mask h2 {
        color: rgb(237, 224, 224);
        text-align: center;
        padding-top: 20.0px;
        font-size: 14.0px;
    }
    
    
    .mask p {
        font-style: italic;
        color: rgb(237, 224, 224);
        line-height: 20.0px;
        font-size: 12.0px;
        text-align: center;
        padding: 20.0px;
    }



    .wrapper-repertuar {
        max-width: 420px;    
        padding-top: 80.0px;
    }


    .repertuar-title {
        padding-left: 20.0px;
        width: 112px;
        height: 26px;
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        text-align: left;
    }

    .square {
        margin-top: 43px;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
    }

    .circle {
        display: none;
    }


    .wrapper-promo {
        max-width: 420px;
        padding-top: 83.0px;
    }



    .promo-video-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 27px;
        padding-bottom: 23px;
    }

    .promo-video {
        padding: 0;
        width: 100%;
        height: 240px;
    }

    .promo-video iframe {
        padding: 0;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        min-width: 420px;
        height: 100%;
        box-sizing: border-box;
    }


    .wrapper-services {
        margin: 0 auto;
        max-width: 420px;
        padding-top: 72px;
    }

    .services-title {
        height: 21px;
        font-size: 20px;
        line-height: 27px;
    }

    .services-squares {
        padding-top: 51px;
    }

    .spb {
        width: 180px;
        height: 120px;
        margin-right: 59px;
        border-radius: 20px 0px 20px 0px;
    }

    .out-spb {
        width: 180px;
        height: 120px;
        border-radius: 0px 20px 0px 20px;
    }

    .first-square-line {
        padding-top: 22px;
        padding-left: 25px;
        font-size: 13px;
        line-height: 15px;
    }

    .second-square-line {
        padding-top: 15px;
        padding-left: 33px;
        font-size: 13px;
        line-height: 15px;
    }

    .out-spb .first-square-line {
        padding-top: 22.0px;
        padding-left: 12.0px;
    }
    
    
    .out-spb .second-square-line {
        padding-top: 10.0px;
        padding-left: 14.0px;
    }



    .wrapper-call {
        max-width: 420px;
        padding-top: 56px;
    }

    .want-work-title {
        height: 29px;
        font-size: 20px;
        line-height: 160%;
    }

    .want-work-subtitle .first-line-sub {
        width: 354px;
        height: 18px;
        padding-top: 13px;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
    }

    .want-work-subtitle .second-line-sub {
        width: 180px;
        height: 21px;
        padding-top: 1px;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
    }

    .want-work-subtitle .second-line-sub strong {
        font-size: 14px;
        font-weight: 900;
    }
    
    .order-call button {
        width: 143.0px;
        height: 50.0px;
        padding: 11px 21px 11px 21px;
        margin-top: 20px;

        font-size: 14px;
        line-height: 18.0px;
    }




    .wrapper-call-yourself {
        max-width: 420px;
        padding-top: 60px;
    }


    .call-yourself-title {
        height: 25px;
        font-size: 20px;
        line-height: 27px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .call-yourself-main {
        margin-top: 28px;
        width: 100%;
        height: 190px;
        z-index: 100;
    }

    .call-yourself-back-photo {
        height: 200px;
        background: url('./data/480-600/480-back-photo.png') no-repeat center;
        background-size: 100%;
        padding-top: 13px;
    }

    .call-yourself-text {
        width: 200px;
        height: 83px;
        padding-top: 18px;
        padding-left: 23px;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0%;
        text-align: left;
    }

    .call-yourself-line {
        padding-left: 22.7px;
        margin-top: 0px;
        width: 147.57px;
        height: 2px;
        padding-top: 10px;
    }

    .call-yourself-phone {
        padding-left: 22.7px;
        padding-top: 22px;
        height: 13px;
        font-size: 14px;
        line-height: 18px;
    }

    .call-yourself-photo {
        width: 141px;
        height: 217px;
        background: url('./data/480-600/call-420-photo.png') no-repeat center;
        background-size: cover;
        margin-top: -168px;
        margin-right: 23px;
    }


        /* REVIEWS */


        .wrapper-reviews {
            max-width: 420px;
            padding-top: 100px;
        }
    
        .reviews-title {
            height: 21px;
            font-size: 20px;
            line-height: 27px;
        }
    
        .reviews-photos {
            padding-top: 19px;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20.0px 25.0px;
        }
    
        .reviews img {
            width: 196px;
            height: 176px;
        }
    
        /* REVIEWS */


        .wrapper-stages {
            max-width: 315px;
            padding-top: 60.0px;
        }
    
        .stages-title {
            font-size: 18px;
            font-weight: 700;
            line-height: 27px;
        }
    
        /* .advantage {
            display: none;
        } */
    
    
    
        .advantage-title {
            font-size: 14px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0%;
            text-align: left;
            box-sizing: border-box;
            width: 100px;
        }
        
        
        .advantage-text {
            width: 100px;
            padding-top: 15px;
            font-size: 18px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0%;
            text-align: left;
            box-sizing: border-box;
        }
    
    
    
        .advantages-f-l {
            display: flex;
            flex-direction: row;
            gap: 225px;
            margin-left: 0px;
        }
    
        .advantages-s-l {
            display: flex;
            flex-direction: row;
            gap: 225px;
            margin-left: 100%;
        }
    
        .advantages {
            padding-top: 70px;
        }
        .stages {
            padding-bottom: 70px;
        }
    
        .stages-photo img {
            padding-right: 157px;
            width: 510px;
            height: 74px;
            
        }
    
        .stages-photo {
            margin-left: -100px;
            width: 510px;
            height: 74px;
            transform: rotate(270deg) rotateX(180deg);
            display: flex;
            justify-content: center;
        }
    
        .txt {
            width: 100px;
        }
    
        .adv1 {
            margin-top: 100px;
        }
    
        .adv2 {
            margin-top: 40px;
            margin-left: -200px;
        }
    
        .adv3 {
            margin-left: -200px;
            margin-top: 100px;
        }
    
        .adv4 {
            margin-left: -275px;
            margin-top: 90px;
        }
    
    

        .wrapper-questions {
            max-width: 420px;
            margin: 0 auto;
            padding-top: 80px;
        }
    
        .questions-title {
            height: 25px;
            font-size: 20px;
            line-height: 160%;
        }
    
        .questions-form {
            padding-top: 0.0px;
            max-width: 265px;
            margin-left: 31px;
            align-items: center;
            justify-content: center;
        }
        
        .contact-container {
            justify-content: center;
            width: 400.0px;
            height: 85.0px;
        }
    
        .input-phone {
            width: 182px;
            height: 54px;
            font-size: 12px;
            font-weight: 400;
            line-height: 160%;
            border-radius: 8.0px;
            margin-right: 36.0px;
            padding-left: 8.0px;
            background-image: url('./data/phone.png') no-repeat center;
            background-size: 9.0px;
        }
        
        
        .contact-button {
            width: 182px;
            height: 54px;
            font-size: 12px;
            font-weight: 400;
            line-height: 160%;
            border-radius: 8.0px;
        }
    
    
        
        .form-title {
            width: 120px;
            height: 20px;
            padding-top: 40px;
            font-size: 17px;
            line-height: 130%;
            margin: 0 auto;
            padding-left: 147px;
        }
    
    
    
        .agreement-checkbox {
            display: flex;
            padding-right: 7.0px;
        }
    
        .agreement-checkbox-text {
            display: flex;
            width: 223px;
            margin-top: -42px;
            padding-left: 14.0px;
        }
        
        .agreement-checkbox-text h4 {
            width: 373px;
        }
        
        .agreement-text {
            display: flex;
            width: 373px;
            line-height: 130%;
            padding-left: 8.0px;
            font-size: 10px;
        }
    

    

        .info-container {
            max-width: 300px;
            padding-top: 114px;
        }
    
        .managers {
            display: flex;
            flex-direction: column;
            font-size: 12px;
        }
    
        .first-manager {
            margin-right: unset;
            padding-bottom: 3px;
        }
    
        .manager {
            width: 150px;
            height: 40px;
            line-height: 15px;
            font-weight: 600;
            margin-right: 18px;
            text-align: right;
        }
        
        
        .contact {
            width: 160px;
            height: 30px;
            font-weight: 400;
            line-height: 15px;
            text-align: left;
        }
        
    
        .all {
            display: none;
        }
    
    
        .social-medias {
            display: flex;
            justify-content: center;
            padding-top: 61.0px;
            gap: 20.0px;
            max-width: 214px;
        }
    
        .social-medias img {
            width: 45px;
            height: 45px;
        }
    
        .label {
            display: flex;
            justify-content: center;
            max-width: 97px;
            margin: 0 auto;
            font-size: 13px;
            line-height: 20px;
            padding-bottom: 20px;
        }
    
}