@media (min-width: 360px) and (max-width:479px) {
    .conditions-wrapper {
        padding-top: 80px;
        max-width: 315px;
    }

    .cond-title {
        font-size: 24px;
    }
    
    .cond-text {
        padding-top: 20px;
        font-size: 12px;
        line-height: 25px;
    }
}


@media (min-width: 480px) and (max-width:600px) {
    .conditions-wrapper {
        padding-top: 80px;
        max-width: 420px;
    }

    .cond-title {
        font-size: 28px;
    }
    
    .cond-text {
        padding-top: 20px;
        font-size: 14px;
        line-height: 25px;
    }
}


@media (min-width: 601px) and (max-width:850px) {
    .conditions-wrapper {
        padding-top: 90px;
        max-width: 521px;
    }

    .cond-title {
        font-size: 32px;
    }
    
    .cond-text {
        padding-top: 20px;
        font-size: 15px;
        line-height: 24px;
    }
}


@media (min-width: 851px) and (max-width:1160px) {
    .conditions-wrapper {
        padding-top: 110px;
        max-width: 751px;
    }

    .cond-title {
        font-size: 36px;
    }
    
    .cond-text {
        padding-top: 20px;
        font-size: 18px;
        line-height: 25px;
    }
}